// No padding

.no-padding {
  padding: 0 !important;
}
.no-padding-right {
  padding: 0 !important;
}
.no-padding-left {
  padding: 0 !important;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

  .no-padding-right {
    padding: 0 0 0 15px !important;
  }

  .no-padding-left {
    padding: 0 15px 0 0 !important;
  }

}
