<div class="form-group">
    <label class='control-label'> {{= polyglot.t(label) }} </label>
    <select class="field form-control" data-type="{{= type }}" id='{{= name }}'>{{ _.each(value, function(v,k){ }}
        <option value="{{= v["value"] }}"{{ if (v["selected"]){ }} selected{{ } }}>{{= v["label"] }}</option>{{ }); }}
    </select>
</div>