<div class="form-group">
    <label class='control-label'> {{= polyglot.t(label) }} </label>
    <textarea class="field form-control" data-type="{{= type }}" style='min-height: 100px' id='{{= name }}'>{{ for ( var i = 0; i < value.length ; i++ ) { }}{{= value[i] }}{{ if (i < value.length - 1) { }}{{= "\n" }}{{ } }}{{ } }}</textarea>
</div>
