<div class="form-group">
    <label class='control-label'> {{= polyglot.t(label) }} </label>
    <textarea class="field form-control" data-type="{{= type }}" style='min-height: 100px' id='{{= name }}'>{{= value }}</textarea>
</div>
