body {
    background: none !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size : 11pt !important;
    overflow-y : visible !important;
    line-height: 1.15;
    color: #000 !important;
}
.grid-view .panel-heading {
    padding: 0 0 20px 0 !important;
}
.grid-view .panel-heading .panel-title {
    font-weight: bold !important;
}
