<!-- Date -->
<div class="form-group{{ if(required) { }} required-control{{ } }}{{ if (containerClass) { }} {{= containerClass }}{{ } }}">
    {{ if (label) { }}<label {{ if (labelClass) { }} class="{{= labelClass }}"{{ } }} for="{{= id }}">{{= label }}</label>{{ } }}
    <input type="{{= inputType }}" id="{{= id }}" name="{{= id }}" value="{{= predefinedValue }}"{{ if (min) { }} min="{{= min }}"{{ } }}{{ if(max) { }} max="{{= max }}"{{ } }}{{ if(step) { }} step="{{= step }}"{{ } }}{{ if (placeholder) { }} placeholder="{{= placeholder }}"{{ } }}{{ if (cssClass) { }} class="{{= cssClass }}"{{ } }}{{ if(required) {}} required{{ } }}{{ if (unique) { }} data-unique="{{= unique }}"{{ } }}{{ if(readOnly) { }} readOnly{{ } }}{{ if(disabled) { }} disabled{{ } }}>{{ if (helpText) { }}
    <p class="help-block">{{= helpText }}</p>{{ } }}
</div>
