<!-- Select List -->
<div class="form-group{{ if(required) { }} required-control{{ } }}{{ if (containerClass) { }} {{= containerClass }}{{ } }}">
    {{ if (label) { }}<label {{ if (labelClass) { }} class="{{= labelClass }}"{{ } }} for="{{= id }}">{{= label }}</label>{{ } }}
    <select id="{{= id }}" name="{{= id }}[]" {{ if (cssClass) { }} class="{{= cssClass }}"{{ } }} {{ if(required) { }}required {{ } }}{{ if(readOnly) { }}readOnly {{ } }}{{ if(disabled) { }}disabled {{ } }}{{ if (multiple) { }}multiple {{ } }} >{{ if(placeholder) { }}
        <option value="" disabled selected>{{= placeholder }}</option>{{ } }}{{ _.each(options, function(option) { var items = option.split("|"); var last = items[items.length-1]; var selected = (last==="select"); var option = items[0]; var value = ((items.length == 3 && selected) || (items.length == 2) && !selected) ? items[1] : items[0]; }}
        <option value="{{= value }}"{{ if (selected) { }} selected{{ } }}>{{= option }}</option>{{ }); }}
    </select>{{ if (helpText) { }}
    <p class="help-block">{{= helpText }}</p>{{ } }}
</div>
